<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2><br></br>
      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p><form>
  <fieldset>
    <legend>Datos Usuario</legend>
    <lu>
      <%= f.label :"Nombre(s):" %><br />
      <%= f.text_field :nombre,:autocomplete=>"off"  %>
      <%= f.label :"Apellido Paterno:",:autocomplete=>"off" , :onChange=>"conMayusculas(this)" %><br />
      <%= f.text_field :apaterno %>
      <%= f.label :"Apellido Materno:" ,:autocomplete=>"off", :onChange=>"conMayusculas(this)" %><br />
      <%= f.text_field :amaterno, :onChange=>"conMayusculas(this)",:autocomplete=>"off" %> 
    </lu>
  <%= f.submit "Guardar" %>
  </fieldset>
</form>
<% end %>
<script type="text/javascript" charset="utf-8">
function conMayusculas(field) {
    field.value = field.value.toUpperCase();
}
</script>