<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> al crear el usuario debido <a href=""></a>:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
  <legend>Datos Usuario</legend>
  <lu>    
    <%= f.label :"nombre de usuario:" %>
	<%= f.text_field :username ,:autocomplete=>"off"%>
    <%= f.label :"Password:" %>
    <%= f.text_field :password,:autocomplete=>"off" %>
    <%= f.label :"Zona:" %>
    <%= f.collection_select :id_coord, Cordination.all,:idcoordinacion,:coordinacion, :prompt => true%>
    <%= f.label :"roll:" %>
    <%= f.select :rol, options_for_select([["Capturista", "0"], ["Coordinador", "1"]]) %>
    <%= f.label :"Activo:" %>
    <%= f.select :enabled, options_for_select([["Sí", "1"], ["No", "0"]]) %>

    <%= f.submit %>
  </lu>
</fieldset>
<% end %>

